<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>


  <connectionStrings>
    <add name="Sabueso.Properties.Settings.conexionSQL"
            connectionString="Data Source=DESKTOP-DESARRO\SQLEXPRESS01;Network Library=DBMSSOCN;Initial Catalog=FLX_Utils;User Id=sa; Password=123456;"
            providerName="System.Data.SqlClient" />    
  </connectionStrings>

</configuration>